.add1 {
    // width: 150px;
    height: 40px;
    // font-size: 20px;
    margin: 5px;
    background-color: #1677FF;

    border: none;
    border-radius: 5px;
}

.add2 {
    // width: 100px;
    height: 40px;
    // font-size: 20px;
    margin: 5px;
    background-color: #1677FF;
    border-radius: 5px;
    border: none;
}

.add3 {
    // width: 120px;
    height: 40px;
    // font-size: 20px;
    margin: 5px;
    background-color: #1677FF;
    border-radius: 5px;
    color: white;
    border: none;
}