.Forgot {
    padding-top: 200px;
    width: 35%;
    margin-left: 35%;


}

.title {
    font-size: 40px;
    margin-bottom: 8px;
    display: block;
    color: rebeccapurple;

}

.inputLogin {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputError {
    border-color: #ff4d4f;
}

.buttonLogin {
    background-color: #1890ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}