/* About.scss */

.UserInfo {
    padding-top: 60px;
    // padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 50px;
    width: 90%;
    border-radius: 2px;
    // max-height: 300px;
    /* Thay đổi giá trị này theo nhu cầu của bạn */
    overflow-y: auto;

}